<!DOCTYPE html>
<html>
<head>
    <title>Cave Mapper</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
</head>
<body>
    <div class="container">
        <div class="map-container">
            <div id="map"></div>
        </div>
        <div class="controls-container">
            <input type="text" id="search-input" placeholder="Search caves...">
            <input type="text" id="distance-input" placeholder="Distance (miles)">
            <select id="region-dropdown">
                <option value="">All Regions</option>
            </select>
            <select id="country-dropdown">
                <option value="">All Countries</option>
            </select>
            <ul id="cave-list"></ul>
            <button id="show-cave-button">Show on Map</button>
            <button id="user-location-button">Show My Location</button>
            <button id="show-all-button">Show All Caves</button>
            <label><input type="checkbox" id="satellite-checkbox"> Satellite Mode</label>
        </div>
    </div>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>